
*{
    margin: 0px;
}

.homeMain{
    display: grid;
    grid-template-columns: repeat(5,0.8fr);
    grid-gap: 20px;
    justify-content: center;
    margin:2rem;
}


.mainImg{
    justify-content: center;
}
.mainImg :hover{
    transform: rotate(2deg) scale(1.08);
}

.movieName{
    margin: 15px 0px;
}
.mainImg{
    transition:all 0.5s ease-in-out ;
}

/* 'headers' */

.headers{
    display:flex;
    padding: 5px;
    justify-content: space-between;
    background-color: rgb(14, 9, 9);
}
h2{
    color: whitesmoke;
    margin: 5px;
    text-shadow: 2px 3px 10px #df4d4d;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.formData{
    display: flex;
    flex-direction: row;
    margin:0px auto;
    align-items: center;
    justify-content: center;
}


select{
    height:1.8rem;
    border: unset;
    margin-right: 2px;
    font-size: 20px;
   font-family: Arial, sans-serif;
   color: #333;
   background-color: #fff;
   border-radius:5px 0px 0px 5px ;
}
input{
    height:1.8rem;
    border: 0px solid;
    width:15rem;
    padding: 0px;
    font-size: 20px;
}
button{
    border: unset;
    padding: 8px;
    height: 1.8rem;
    border-radius:0px 5px 5px 0px ;
    background-color: white;

}

input:focus-visible {
    border: unset;
    outline:2px solid #D63447;
    box-shadow: tomato;
}
select:focus-visible {
    outline:2px solid #D63447;
    box-shadow: tomato;
}
button:hover{
    background-color: #D63447;
    color: white;
}



@media screen and (min-width:769px) and (max-width:1024px) {
    .homeMain{
        display: grid;
        grid-template-columns: repeat(4,0.8fr);
        justify-content: center;
        margin:1.5rem;
    }
}

@media screen and (max-width:769px){
    .homeMain{
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
        row-gap: 30px;
        justify-content: center;
        margin:3rem 1rem;
    }
    h2{
        font-size:xx-large;
        margin: 0px;
    }
    .headers{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .formData{
        position: absolute;
        top:3rem;
        left:0px;
    }
    input{
        border: unset;
        padding-top: 1px;
    }
    select{
        padding-top: 1px;
    }
    img{
        width: 8rem;
        height: 12rem;
    }
}